<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shopping Cart</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    }

    .wrapper {
      min-height: 100%;
      display: flex;
      flex-direction: column;
    }

    .content {
      flex: 1;
    }

    .footer {
      background-color: #343a40;
      color: #ffffff;
      padding: 20px;
      text-align: center;
      width: 100%;
      bottom: 0;
      position: sticky;
    }
  </style>
</head>
<body>
<div class="p-5 bg-primary text-white text-center">
    <h1>Shopping Paradise</h1>
    <p>Laptops and Desktop Computers</p>
  </div>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/'%} active {% endif %}" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/about/' %} active {% endif %}" href="{% url 'about' %}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  {% if request.path == '/contact/' %} active {% endif %}" href="{% url 'contact' %}">Contact Us</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="#">{{user.username}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'view_cart' %}">Cart</a>
          </li>
          <li class="nav-item">
          <form method="post" action="{% url 'logout' %}" class="nav-link p-0">
            {% csrf_token %}
            <button type="submit" class="btn btn-link nav-link">Log Out</button>
          </form>
        </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer mt-auto">
        <p>Footer</p>
    </div>

</body>
</html>

