{% extends 'base.html' %}

{% block content %}

<h2>Your Cart</h2>
{% if cart %}
    <ul>
        {% for item in cart.items.all %}
            <li>{{ item.quantity }} x {{ item.product.name }} - ${{ item.product.price }}</li>
            <a href="{% url 'remove_from_cart' item.pk %}">Remove</a>
        {% endfor %}
    </ul>
    <p>Total: ${{ total }}</p>
{% else %}
    <p>Your cart is empty.</p>
{% endif %}
{% endblock %}