{% extends 'base.html' %}

{% block content %}
<h2>{{ category.name }}</h2>

    <br/>
    <a href="{% url 'category_update' category.pk %}">
        Update category
    </a>
    <a href="{% url 'category_delete' category.pk %}">
        Delete category
    </a>
    <a href="{% url 'category_list' %}">
        Back to category list
    </a>
{% endblock %}