{% block content %}
<div>
    <table>
        <tr>
            <th>Category</th>
        </tr>
        {% for category in categories %}
        <tr>
            <td>{{ category.pk }}</td>
            <td>
                <a href="{% url 'category_detail' category.pk %}">
                    {{ category.name }}
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
<a href="{% url 'category_create' %}">Add category</a>
</div>
{% endblock %}

