{% extends 'base.html' %}

{% block content %}
<h2>{{ product.name }}</h2>
<p><strong>Price: {{ product.price }}</strong></p>
<p><strong>Category: {{ product.category.name }}</strong></p>
<img src="{{ product.image.url }}" alt="{{ product.name }}"
    width='700'
    height='500'
>
    <br/>
    {% if user.is_authenticated and user.is_staff %}
    <a href="{% url 'product_update' product.pk %}">
        Update product
    </a>
    <a href="{% url 'product_delete' product.pk %}">
        Delete product
    </a>
    {% endif %}
    <a href="{% url 'product_list' %}">
        Back to product list
    </a>
{% endblock %}