{% extends 'base.html' %}

{% block content %}
<h2>Products</h2>
<div class="list-group">
    {% for product in products %}
    <div class="list-group-item mb-2">
        <h3>{{ product.name }}</h3>
        <p><strong>Price:</strong> {{ product.price }}</p>
        <p><strong>Category:</strong> {{ product.category.name }}</p>

        <div class="d-flex justify-content-between">
            <a href="{% url 'product_detail' product.pk %}" class="btn btn-primary btn-sm">Detail</a>
                <form method="post" action="{% url 'add_to_cart' product.pk %}" class="d-flex">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
                </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

