{% extends 'base.html' %}

{% block content %}
    <form action="" method="post"> {% csrf_token %}
        <p>
            Are you sure you want to delete "{{ product.name }}"?
        </p>
        <input type="submit" value="Delete"/>
    </form>
{% endblock %}