{% extends 'base.html' %}

{% block content %}
{% for product in products %}
<div class="product">
    <h3>{{ product.name }}</h3>
    <p>Price: ${{ product.price }}</p>
    <a href="{% url 'product_detail' product.pk %}">View Details</a>
    <form action="{% url 'add_to_cart' product.pk %}" method="POST" class="add-to-cart-form">
        {% csrf_token %}
        <button type="submit">Add to Cart</button>
    </form>
</div>
{% endfor %}
{% endblock %}

